@import "tailwindcss";
@plugin "daisyui" {
  themes: winter --default, dark --prefersdark;
}
@import "swiper/css";
@import "swiper/css/navigation";

.heroImg {
  background-image: url("./assets/Hero/Rectangle 2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @media only screen and (max-width: 600px) {
    background-image: none;
    background: white;
  }
}
